.center{  
	margin-top: 10px;
	text-align: center;
}

.square {
	width: 200px;
	height: 200px;
	background-color: #000000;
	margin: 10px;
}

.hidden-p {
    opacity:0;
    font-size: 800%;
	text-align: center;
    color: white;
}
.hidden-p:hover {
    font-size: 800%;
	text-align: center;
    color: white;
    opacity:1;
    -webkit-transition: opacity .25s ease-in-out .0s;
    transition: opacity .25s ease-in-out .0s;
}